ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_PROVIDER_URL=https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
PRIVATE_KEY=<YOUR PRIVATE KEY>
OWNER_ADDRESS=<YOUR OWNER ADDRESS>
NFT_STORAGE_KEY=<YOUR NFT STORAGE KEY>
VITE_NFT_DEPLOYED_ADDRESS=<YOUR DEPLOYED SMART CONTRACT ADDRESS>
VITE_CHAIN_ID=<YOUR CHAIN ID>
VITE_API_URL=YOUR_API_URL
VITE_TOKEN_CONTRACT_ADDRESS=0x1Ca714E2B759f901872f3eC42bF93914A9C0038F
RDS_HOST=<HOST>
RDS_PORT=<PORT>
RDS_USERNAME=<USERNAME>
RDS_PASS=<PASSWORD>
RDS_DB=<DATABASE NAME>
AWS_ACCESS_KEY_ID_CYBER=<AWS_KEY>
AWS_SECRET_ACCESS_KEY_CYBER=<AWS_SECRET>
S3_REGION=us-west-1
S3_BUCKET=terry0
S3_SAVE_PATH=test/